<div class="header">
  <ul class="nav nav-pills pull-right">
    <li class="active"><a ng-href="#">Home</a></li>
    <li><a ng-href="#">About</a></li>
    <li><a ng-href="#">Contact</a></li>
  </ul>
  <h3 class="text-muted">rocking the rest view</h3>
</div>

<div class="jumbotron">
  <h1>'Allo, 'Allo!</h1>
  <p class="lead">
    <img src="images/yeoman.png" alt="I'm Yeoman"><br>
    조만간 제대로 구현해서 찾아뵙겠습니다.
  </p>
  <p><a class="btn btn-lg btn-success" ng-href="#">Splendid!</a></p>
</div>

<div class="row marketing">
  <h4>제 14회 한국자바개발자 컨퍼런스 커뮤니티세션 발표: REST API 설계와 구현에 대한 실행예제</h4>
  <p>
    nginx를 웹서버로 사용<br/>
    angularJS를 이용하는 학습코드입니다.
  </p>
  <h4>발표예제</h4>
    <p><a href="https://github.com/ihoneymon/rocking-the-rest-api">Rocking the REST API</a></p>
</div>

<div class="footer">
  <p>♥ from honeymon(<a href="http://java.ihoney.pe.kr">허니몬</a>)</p>
</div>
